body {
    margin: 0;
    width: 100vw;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.inline {
    display: inline;
    vertical-align: middle;
}

.flex {
    display: flex;
}

ul {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12pt;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12pt;
}

button {
    margin-top: 40px;
    margin-left: -5px;
    background-color: transparent;
    font-size: 14pt;
    width: fit-content;
    border: none;
}

.black {
    color: black;
}

.white {
    color: white;
}


/* --------------------HEADER-------------------- */
#mainNav {
    position: fixed;
    width: 100vw;
    background-color: white;
}

header {
    height: auto;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logoimg {
    height: 50px;
}

/* ----------HEADER-NAV---------- */
#nav {
    width: fit-content;
    height: auto;
    display: flex;
}

#navMenu {
    width: auto;
}

.navLink {
    width: auto;
    margin: 10px;
    cursor: pointer;
}

.navLinkSelected {
    width: auto;
    margin: 10px;
    cursor: pointer;
    color: red;
    font-weight: 700;
}

/* ----------HEADER-CONTACT---------- */
#contact {
    margin-left: auto;
}

/* --------------------HOME-------------------- */
/* ----------HERO---------- */
#hero {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr%;
    grid-template-rows: 100%; */
    height: 900px;
    width: 100vw;
    background-color: lightgray;
    background-image: url("../images/hero-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#heroTag {
    display: flex;
    justify-content: center;
    padding-top: 250px;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#tagline {
    margin-bottom: 720px;
    height: auto;
    width: 1200px;
    font-size: 36pt;
    color: white;
}

/* ----------PROJECTS---------- */
#projectGrid {
    display: grid;
    grid-template-rows: repeat(3, 1000px);
    grid-template-columns: 100vw;
    grid-template-areas: 
        "wtGrid"
        "oregonGrid"
        "sbsGrid";
}

.card-info {
    padding-left: 60px;
    padding-top: 30px;
    text-align: left;
}

.card-info-title {
    font-size: 24pt;
    font-weight: bold;
}

.separator {
    height: 1px;
    width: 34px;
    border-top: 1px solid;
}

.card-info-description {
    font-size: 14pt;
}

.card-info-date {
    font-size: 12pt;
    font-weight: 300;
}

/* ----------WeTravel---------- */
#wtGrid {
    grid-area: wtGrid;
    background-color: #0079FE;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "card-info wtHotel wtMockups";
}

#wtHotel {
    grid-area: wtHotel;
    background-image: url("../images/WeTravel_Screenshot_Hotel.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#wtMockups {
    grid-area: wtMockups;
    background-image: url("../images/WeTravel_Mockups.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* ----------Oregon---------- */
#oregonGrid {
    grid-area: oregonGrid;
    background-color: #009D75;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "card-info oregonDesktop oregonMobile";
}

#oregonDesktop {
    background-image: url("../images/oregon_desktop.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}

#oregonMobile {
    background-image: url("../images/oregon_mobile.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

/* ----------Silicon Beach Social---------- */
#sbsGrid {
    grid-area: sbsGrid;
    background-color: #BCD9E3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "card-info sbsAbout sbsEvents";
}

#sbsAbout {
    grid-area: sbsAbout;
    background-image: url("../images/sbs-about_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#sbsEvents {
    grid-area: sbsEvents;
    background-image: url("../images/sbs-events_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* --------------------ABOUT PAGE-------------------- */
.aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 580px;
    grid-template-areas: 
        "aboutMe mePic";
    justify-content: space-between;
    white-space: nowrap;
    padding-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.aboutMe {
    grid-area: aboutMe;
    white-space: normal;
    text-align: justify;
    width: 500px;
    height: auto;
}

#mePic {
    background-image: url("../images/me_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px 5px lightgray;
    grid-area: mePic;
    height: auto;
    margin-top: 20px;
    margin-right: -20px;
}

/* --------------------FOOTER-------------------- */
footer {
    position: fixed;
    bottom: 0;
    height: 200px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "footerTagline"
        "footerP"
        "footerUL";
    text-align: center;
    background-color: white;
    margin-top: -32px;
}

#footerTagline {
    grid-area: footerTagline;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    color: black;
}

footer p {
    grid-area: footerP;
    color: black;
}
footer ul {
    display: table;
    grid-area: footerUL;
    list-style-type: none;
    color: black;
    text-align: center;
}

footer ul li {
    padding: 10px;
}

@media only screen and (max-width: 1000px) {
    #wtGrid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "card-info"
            "wtHotel"
            "wtMockups"
    }
    #oregonGrid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "card-info"
            "oregonDesktop"
            "oregonMobile"
    }
    #sbsGrid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "card-info"
            "sbsAbout"
            "sbsEvents"
    }
}