body {
    margin: 0;
    width: 100vw;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.flex {
    display: flex;
}

ul {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12pt;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12pt;
}

button {
    margin-top: 40px;
    margin-left: -5px;
    background-color: transparent;
    font-size: 14pt;
    width: fit-content;
    border: none;
}

.black {
    color: black;
}

.white {
    color: white;
}



/* --------------------HEADER-------------------- */
header {
    height: 100px;
    margin-top: 20px; 
    /* margin-bottom: 20px; */
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#logoimg {
    height: 100px;
}

#logoimg {
    height: 100px;
}

/* ----------HEADER-NAV---------- */
#nav {
    width: fit-content;
    height: auto;
    display: flex;
}

#navMenu {
    width: auto;
}

.navLink {
    width: auto;
    margin: 10px;
    cursor: pointer;
}

.navLinkSelected {
    width: auto;
    margin: 10px;
    cursor: pointer;
    color: red;
    font-weight: 700;
}

/* ----------HEADER-CONTACT---------- */
#contact {
    margin-left: auto;
}

/* --------------------HOME-------------------- */
/* ----------HERO---------- */
#hero {
    margin-top: -20px;
    height: 890px;
    background-color: lightgray;
    background-image: url("../images/hero-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

#heroTag {
    height: 890px;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#tagline {
    width: 1336px;
    font-size: 36pt;
    color: white;
    padding-left: 15%;
    padding-top: 13%;
}

/* ----------PROJECTS---------- */
#projectGrid {
    display: grid;
    grid-template-rows: repeat(3, 1000px);
    grid-template-columns: 100vw;
    grid-template-areas: 
        "wtGrid"
        "oregonGrid"
        "sbsGrid";
}

.card-info {
    padding-left: 60px;
    padding-top: 30px;
    text-align: left;
}

.card-info-title {
    font-size: 24pt;
    font-weight: bold;
}

.separator {
    height: 1px;
    width: 34px;
    border-top: 1px solid;
}

.card-info-description {
    font-size: 14pt;
}

.card-info-date {
    font-size: 12pt;
    font-weight: lighter
}

/* ----------WeTravel---------- */
#wtGrid {
    background-color: #0079FE;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "card-info wtHotel wtMockups";
}

#wtHotel {
    background-image: url("../images/WeTravel_Screenshot_Hotel.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#wtMockups {
    background-image: url("../images/WeTravel_Mockups.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
